/*selector Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.kenburns-bottom {
	-webkit-animation: kenburns-bottom 5s ease-out reverse both;
	        animation: kenburns-bottom 5s ease-out reverse both;
}

@-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }

.cabecera {
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 40px;
    left: 30%;
}

.tituloPagina {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 60px;
    color: red;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

.logoKangre {
    display: grid;
    justify-items: start;
    margin: 5px;
}

.eslogan {
    font-family: 'Lobster';
    font-size: 40px;
    color: yellow;
    -webkit-text-stroke: 0.8px black;
}

.navegaciones {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: fixed;
    font-size: 10px;
    border-radius: 10px;
    border: solid 2px black;
    margin: 5px;
    padding: 5px;
    box-shadow: 4px 4px 10px black;
    margin-bottom: 20px;
    }

.navegaciones__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 5px;
}

.navegaciones__paginas {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.nosotros {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.nosotros__titulo {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    transition: padding 2seg;
}

.nosotros__titulo:hover {
    transform: scale(1.2);
}

.nosotros__galeria {
    display: grid;
    padding: 5px;
    height: 500px;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas:
    "img1 img2"
    "img1 img3";
    column-gap: 5px;

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
}

.nosotros__fotos {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.nosotros__fotos--1 {
    grid-area: img1;
   
}

.nosotros__fotos--2 {
    grid-area: img2;
    margin-bottom: 5px;
 
}
.nosotros__fotos--3 {
    grid-area: img3;
  
}

.nosotros__imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  
}

.fondoVideo {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoKangre {
    width: 80%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    border: solid 2px black;
    background-position: center;
    box-shadow: 4px 4px 10px black;
}

.tituloTeEsperamos {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin: 5px;
    padding: 5px;
    box-shadow: 4px 4px 10px black;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.horarios {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: fixed;
    
    border-radius: 10px;
    margin: 5px;
    padding: 5px;    

    margin-bottom: 20px;
}

.horarios__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.horarios__dias {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: black;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.redes {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: fixed;
   
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
    

    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.redes__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    display: flex;
    justify-content: flex-end;
}

.iconoWsp {
    border-radius: 20px;
    border: solid 2px black;
}

.iconoIg {
    border-radius: 20px;
    border: solid 2px black;
}

.logoKangre2 {
    display: grid;
    justify-items: start;
    margin: 5px;
}

.copyright {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 25px;
}

.quienesSomos {
    text-align: center;
}

.quienesSomos__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 15px;
    transition: padding 2seg;
}

.quienesSomos__titulo:hover {
    transform: scale(1.2);
}

.quienesSomos__parrafo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}

.quienesSomos__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.ubicacion {
    text-align: center;
}

.ubicacion__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 10px;
    transition: padding 2seg;
}

.ubicacion__titulo:hover {
    transform: scale(1.2);
}

.ubicacion__direccion {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 23px;
    color: black;
    margin-bottom: 10px;
}

.ubicacion__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.ubicacion__fotoGps {
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    margin-bottom: 20px;
}

.contacto {
    text-align: center;
}

.contacto__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 5px;
    transition: padding 2seg;
}

.contacto__titulo:hover {
    transform: scale(1.2);
}

.contacto__numero {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 23px;
    color: black;
    margin-bottom: 25px;
}

.comentarioKangre {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.comentarioKangre__formulario {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 4px 4px 10px black;
    }

.comentarioKangre__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
}

.comentarioKangre__boton {
    font-size: 20px;
    margin: 2px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    width: 20%;
    margin-bottom: 10px;
}

.btn-light {
    border-color: black;
}

.btn {
    border: solid 2px black;
    box-shadow: 2px 2px 4px black;
}

.contacto__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.menu {
    text-align: center;
}

.menu__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 20px;
    transition: padding 2seg;
}

.menu__titulo:hover {
    transform: scale(1.2);
}

.menu__comidas {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 35px;
    -webkit-text-stroke: 1px black;
    

}

.menu__ingredientes {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 23px;
    color: black;
    margin-bottom: 5px;
}

.menu__fotos {
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    margin-bottom: 15px;
    transition: padding 1s;
}

.menu__fotos:hover {
    padding: 5px;
}

.menu__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.pedidos {
    text-align: center;
}

.pedidos__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 15px;
    transition: padding 2seg;
}

.pedidos__titulo:hover {
    transform: scale(1.2);
}

.pedidos__pedidosYa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
}

.pedidos__icono {
    border-radius: 20px;
    border: solid 2px black;
    margin-bottom: 10px;
}

.pedidos__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

/* Táblet */
@media screen and (max-width: 1023px){
    .logoKangre {
        justify-items: center;
    }

    .cabecera {
        text-align: center;
    }

}


/* Móvil */
@media screen and (max-width: 599px){

.nosotros__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
    "img1"
    "img1"
    "img2"
    "img3"
    ;

    height: auto;
    margin: 10px;
}

.logoKangre {
    justify-items: center;
    margin-bottom: 250px;
}

.cabecera {
    text-align: center;
    top: 185px;
    left: 2%;
}

.tituloPagina {
    font-size: 50px;
}

.logoKangre2 {
    justify-items: center;
}

.eslogan {
    text-align: center;
    left: 2%;
}

.navegaciones {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.navegaciones__menu {
    display: block;
    list-style: initial;
}

.tituloTeEsperamos {
    align-items:center;
    font-size: 28px;
}

.ubicacion__fotoGps {
    height: 250px;
    width: 250px;
}

.comentarioKangre__titulo {
    font-size: 35px;
}

.comentario__comentario {
    display: flex;
    right: 5%;
}

.comentarioKangre__formulario {
    object-fit:none;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-shadow: 4px 4px 10px black;
}

.contacto__titulo {
    font-size: 35px;
}

.comentarioKangre__boton {
    align-items:center;
    width: 20%;
}

.iconoWsp {
    margin-bottom: 5px;
}

.copyright {
    font-size: 15px;
}

}