@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgFondoDePantalla {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.kenburns-bottom {
  -webkit-animation: kenburns-bottom 5s ease-out reverse both;
  animation: kenburns-bottom 5s ease-out reverse both;
}

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

.cabecera__header {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.tituloPagina {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  font-size: 60px;
  color: red;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  margin: 0;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.logoKangre {
  display: grid;
  justify-content: center;
  margin: 5px;
}

.eslogan {
  font-family: 'Lobster';
  font-size: 40px;
  color: yellow;
  -webkit-text-stroke: 0.8px black;
}

.navegaciones {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: fixed;
  font-size: 10px;
  border-radius: 10px;
  border: solid 2px black;
  margin: 5px;
  padding: 5px;
  box-shadow: 4px 4px 10px black;
  margin-bottom: 15px;
}

.navegaciones__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
}

.navegaciones__paginas {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.navegaciones__paginas:hover {
  color: red;
  -webkit-text-stroke: 1px black;
}

.nosotros {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.nosotros__titulo {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
}

.nosotros__galeria {
  display: grid;
  padding: 5px;
  height: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "img1 img2" "img1 img3";
  column-gap: 5px;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}

.nosotros__fotos {
  text-align: center;
  border: solid 2px black;
  border-radius: 10px;
}

.nosotros__fotos--1 {
  grid-area: img1;
}

.nosotros__fotos--2 {
  grid-area: img2;
  margin-bottom: 5px;
}

.nosotros__fotos--3 {
  grid-area: img3;
}

.nosotros__imagenes {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video__fondo {
  width: 100%;
  min-height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__videoKangre {
  width: 80%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  border: solid 2px black;
  background-position: center;
  box-shadow: 4px 4px 10px black;
}

.video__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  margin: 5px;
  padding: 5px;
  box-shadow: 4px 4px 10px black;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.horarios {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: fixed;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.horarios__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.horarios__dias {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  font-size: 18px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.fa-solid {
  display: flex;
  justify-content: flex-start;
  color: red;
  -webkit-text-stroke: 1px black;
  font-size: 30px;
  padding-top: 15px;
}

.redes {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: fixed;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.redes__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: flex-end;
}

.iconoWsp {
  border-radius: 20px;
  border: solid 2px black;
}

.iconoIg {
  border-radius: 20px;
  border: solid 2px black;
}

.logoKangre2 {
  display: grid;
  justify-content: center;
  margin: 5px;
}

.copyright {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  font-size: 25px;
}

.quienesSomos, .quienesSomos__titulo, .quienesSomos__parrafo {
  text-align: center;
}

.quienesSomos__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  margin-bottom: 15px;
  -webkit-text-stroke: 1px black;
}

.quienesSomos__parrafo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  font-size: 22px;
  margin-bottom: 15px;
}

.quienesSomos__imgFondoDePantalla {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.card {
  margin: 0 auto;
  width: 25%;
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 4px 4px 10px black;
  margin-bottom: 20px;
}

.card-body {
  text-align: center;
}

.card-img-top {
  border-bottom: 2px solid black;
  height: 300px;
}

.card-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
}

p:nth-child(odd) {
  color: black;
}

span:nth-child(odd) {
  color: red;
  -webkit-text-stroke: 0.5px black;
}

.ubicacion {
  text-align: center;
}

.ubicacion__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  margin-bottom: 10px;
}

.ubicacion__direccion {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  font-size: 23px;
  color: black;
  margin-bottom: 10px;
}

.ubicacion__imgFondoDePantalla {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.ubicacion__fotoGps {
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
  margin-bottom: 20px;
  object-fit: cover;
}

.contacto {
  text-align: center;
}

.contacto__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  margin-bottom: 5px;
  -webkit-text-stroke: 1px black;
}

.contacto__numero {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  font-size: 23px;
  margin-bottom: 25px;
}

.contacto__imgFondoDePantalla {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.comentarioKangre {
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.comentarioKangre__formulario {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 35%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 2px black;
  box-shadow: 4px 4px 10px black;
}

.comentarioKangre__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
}

.comentarioKangre__boton {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  font-size: 20px;
  border-radius: 5px;
  width: 20%;
  margin: 2px;
  margin-bottom: 10px;
}

.btn-light {
  color: black;
  border-color: black;
}

.btn {
  border: solid 2px black;
  box-shadow: 2px 2px 4px black;
}

.menu {
  text-align: center;
}

.menu__titulo {
  font-size: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  -webkit-text-stroke: 1px black;
}

.menu__vistaMobile {
  display: none;
}

.menu__comidas {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  -webkit-text-stroke: 1px black;
}

.menu__ingredientes {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  font-size: 23px;
  margin-bottom: 5px;
}

.menu__carrusel {
  padding: 15px;
}

.menu__imgFondoDePantalla {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.carousel {
  margin: 0 auto;
  width: 70%;
  height: 600px;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}

.carousel h5 {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  -webkit-text-stroke: 1px black;
}

.carousel p {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 23px;
}

.carousel-item img {
  width: 50%;
  height: 595px;
  border-radius: 10px;
  object-fit: cover;
}

.pedidos {
  text-align: center;
}

.pedidos__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: red;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  margin-bottom: 15px;
}

.pedidos__pedidosYa {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  font-size: 30px;
  color: black;
  margin-bottom: 5px;
}

.pedidos__icono {
  border-radius: 20px;
  border: solid 2px black;
  margin-bottom: 10px;
}

.pedidos__imgFondoDePantalla {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.btn__pedidos {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  box-shadow: 4px 4px 10px black;
  font-size: 22px;
}

.btn__pedidos:hover {
  color: black;
  background-color: black;
  border-color: black;
}

.btn:focus {
  box-shadow: 4px 4px 10px black;
}

.card_pedidos {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: black;
  padding: 5px;
}

.pedidos__pasos {
  text-align: start;
  margin: 5px;
}

@media screen and (max-width: 1360px) {
  .comentario__comentario {
    display: flex;
    position: relative;
    margin: 5px;
  }
  .comentarioKangre__titulo {
    display: flex;
    position: relative;
    margin: 5px;
  }
  .comentarioKangre__boton {
    align-items: center;
    width: 30%;
    margin-top: 10px;
  }
  .card {
    width: 40%;
  }
  .comentarioKangre__formulario {
    width: 30%;
    height: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .comentarioKangre__formulario {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 905px) {
  .logoKangre {
    justify-content: center;
  }
  .navegaciones {
    display: block;
    flex-direction: column;
  }
  .navegaciones__menu {
    flex-direction: column;
    text-align: center;
  }
  .navegaciones__menu a::before {
    content: "🍔";
  }
  .comentario__comentario {
    display: flex;
    position: relative;
  }
  .card {
    width: 50%;
  }
  .cabecera__textos {
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .comentarioKangre__formulario {
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 599px) {
  .nosotros__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "img1" "img1" "img2" "img3";
    height: auto;
    margin: 10px;
  }
  .logoKangre {
    justify-items: center;
  }
  .logoKangre2 {
    justify-items: center;
  }
  .navegaciones {
    margin-top: 20px;
  }
  .navegaciones__menu {
    display: block;
    text-align: start;
    padding-left: 0px;
  }
  .navegaciones__menu a::before {
    content: "🍔";
  }
  .tituloTeEsperamos {
    align-items: center;
    font-size: 28px;
  }
  .nosotros__fotos--1 {
    margin-bottom: 5px;
  }
  .nosotros__fotos--2 {
    margin-bottom: 5px;
  }
  .ubicacion__fotoGps {
    height: 250px;
    width: 250px;
  }
  .comentarioKangre__titulo {
    font-size: 35px;
  }
  .comentario__comentario {
    display: flex;
    position: relative;
  }
  .row-card {
    margin-bottom: 10px;
  }
  .card {
    width: 80%;
    height: 70%;
  }
  .carousel {
    width: 100%;
    height: 100%;
  }
  .carousel-item img {
    height: 250px;
  }
  .video__titulo {
    font-size: 35px;
  }
  .menu__vistaMobile {
    display: block;
    text-align: center;
  }
  .comentarioKangre__formulario {
    width: 60%;
    height: 60%;
  }
  .contacto__titulo {
    font-size: 35px;
  }
  .comentarioKangre__boton {
    align-items: center;
    width: 32%;
    margin-top: 10px;
  }
  .pedidos_btn {
    font-weight: bold;
    padding: 13px;
  }
  .pedidos__pasos {
    font-size: 15px;
    padding-right: 0;
  }
  .iconoWsp {
    margin-bottom: 5px;
  }
  .copyright {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .comentarioKangre__boton {
    width: 90px;
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  .comentarioKangre__titulo {
    font-size: 30px;
  }
}

@media screen and (max-width: 345px) {
  .comentarioKangre__boton {
    width: 85px;
    text-align: center;
  }
}
