@import "./parciales/_base.scss";
@import "./parciales/_header.scss";
@import "./parciales/_nosotros.scss";
@import "./parciales/_video.scss";
@import "./parciales/_horarios.scss";
@import "./parciales/_footer.scss";
@import "./parciales/_quienessomos.scss";
@import "./parciales/_ubicacion.scss";
@import "./parciales/_contacto.scss";
@import "./parciales/_menu.scss";
@import "./parciales/_pedidos.scss";
@import "./parciales/_media-querys.scss";