* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgFondoDePantalla {
    background-repeat: map-get($imgFondoDePantalla, repticion);
    width: map-get($imgFondoDePantalla, ancho);
    height: map-get($imgFondoDePantalla, alto);
    top: map-get($imgFondoDePantalla, top);
    left: map-get($imgFondoDePantalla, left);
    z-index: map-get($imgFondoDePantalla, z-index);
    position: map-get($imgFondoDePantalla, posicion);
}

.kenburns-bottom {
	-webkit-animation: kenburns-bottom 5s ease-out reverse both;
	        animation: kenburns-bottom 5s ease-out reverse both;
}

@-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }