.contacto {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: 1px black;
        margin-bottom: 5px;
        transition: padding 2seg;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__numero {
        font-family: $font-familyPrincipal;
        font-size: 23px;
        color: $colorSecundario;
        margin-bottom: 25px;
    }
}

.comentarioKangre {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    object-fit: cover;

    &__formulario {
        background-image: url(../imagenes/fongopantallakangree.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        width: 30%;
        height: 30%;
        margin-bottom: 20px;
        border-radius: 10px;
        border: solid 2px black;
        box-shadow: 4px 4px 10px black;
        }
    
    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: 1px black;
    }
    
    &__boton {
        font-size: 20px;
        margin: 2px;
        border-radius: 5px;
        font-family: $font-familyPrincipal;
        width: 20%;
        margin-bottom: 10px;
    }
}

.btn-light {
    border-color: black;
}

.btn {
    border: solid 2px black;
    box-shadow: 2px 2px 4px black;
}

.contacto__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}