.contacto {
    text-align: center;
}

.contacto__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 5px;
    transition: padding 2seg;
}

.contacto__titulo:hover {
    transform: scale(1.2);
}

.contacto__numero {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 23px;
    color: black;
    margin-bottom: 25px;
}

.comentarioKangre {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.comentarioKangre__formulario {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 4px 4px 10px black;
    }

.comentarioKangre__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
}

.comentarioKangre__boton {
    font-size: 20px;
    margin: 2px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    width: 20%;
    margin-bottom: 10px;
}

.btn-light {
    border-color: black;
}

.btn {
    border: solid 2px black;
    box-shadow: 2px 2px 4px black;
}

.contacto__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}