.contacto {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        margin-bottom: 5px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }

    &__numero {
        font-family: $font-familyPrincipal;
        color: $colorSecundario;
        font-size: 23px;
        margin-bottom: 25px;
    }

    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}

.comentarioKangre {

    &__formulario {
        // background-image: url(../imagenes/fongopantallakangree.jpg);
        // background-attachment: fixed;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 40%;
        height: 35%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: $border-radiusPrincipal;
        border: $borderPrincipal;
        box-shadow: $box-shadowPrincipal;
        }
    
    &__tituloMensaje {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }

    &__tituloNombre {
        display: block;
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }

    
    &__nombre {
        width: 30%;
        height: 30px;
        border-radius: 5px;
        border: $borderPrincipal;
        box-shadow: 2px 2px 4px black;

        &:hover {
            border: solid 2px black;
        }
    }

    &__mensaje {
        width: 100%;
        border-radius: 5px;
        border: $borderPrincipal;
        box-shadow: 2px 2px 4px black;
        margin-bottom: 10px;
    }

    &__boton {
        font-family: $font-familyPrincipal;
        color: $colorSecundario;
        font-size: 20px;
        border-radius: 5px;
        width: 20%;
        margin: 2px;
    }
}

.contactoKangre__mensajeCard {
    // background-image: url(../imagenes/fongopantallakangree.jpg);
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    border: $borderPrincipal;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
}


.contactoKangre__mensajeParrafo {
    font-family: $font-familyPrincipal;
    color: $colorSecundario;
    font-size: 22px;
    text-align: center;
    padding-left: 5px;
    margin-bottom: 0;
}

.btn-light {
    color: $colorSecundario;
    border-color: $colorSecundario;
}

.btn {
    border: $borderPrincipal;
    box-shadow: 2px 2px 4px black;
}