.contacto {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        margin-bottom: 5px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }

    &__numero {
        font-family: $font-familyPrincipal;
        color: $colorSecundario;
        font-size: 23px;
        margin-bottom: 25px;
    }

    &__imgFondoDePantalla {
        background-repeat: $background-repeatPrincipal;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}

.comentarioKangre {

    &__formulario {
        height: 35%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: $border-radiusPrincipal;
        border: $borderPrincipal;
        box-shadow: $box-shadowPrincipal;
        }

    &__tituloNombre {
            display: block;
            font-family: $font-familyPrincipal;
            color: $colorPrincipal;
            font-size: 45px;
            -webkit-text-stroke: $-webkit-text-strokePrincipal;
        }

        &__nombre {
            width: 30%;
            height: 30px;
            border-radius: 5px;
            border: $borderPrincipal;
            box-shadow: $box-shadowSecundario;
    
            &:hover {
                border: solid 2px black;
            }
        }
    
    &__tituloMensaje {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }

    &__mensaje {
        width: 100%;
        border-radius: 5px;
        border: $borderPrincipal;
        box-shadow: $box-shadowSecundario;
        margin-bottom: 10px;
    }

    &__boton {
        font-family: $font-familyPrincipal;
        color: $colorSecundario;
        font-size: 20px;
        border-radius: 5px;
        width: 20%;
        margin: 2px;
    }
}

.modal__muchasGracias {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: $background-repeatPrincipal;
    background-size: cover;
    object-fit: fill;
    border-radius: $border-radiusPrincipal;
    border: $borderPrincipal;
    box-shadow: $box-shadowPrincipal;
}

.modal__titulo {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: $background-repeatPrincipal;
    background-size: cover;
    object-fit: fill;
    border-bottom: $borderPrincipal;
}

.modal__parrafoTitulo {
    font-family: $font-familyPrincipal;
    color: $colorPrincipal;
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke: $-webkit-text-strokePrincipal;
}

.modal__parrafoBody {
    font-family: $font-familyPrincipal;
    color: $colorSecundario;
    font-size: 22px;
    font-weight: bold;
}

.modal__boton {
        font-family: $font-familyPrincipal;
        color: $colorSecundario;
        font-size: 20px;
        border-top: $borderPrincipal;
}

.contactoKangre__mensajeCard {
    border: $borderPrincipal;
    border-radius: 10px;
    box-shadow: $box-shadowPrincipal;
}

.contactoKangre__mensajeParrafo {
    font-family: $font-familyPrincipal;
    color: $colorSecundario;
    font-size: 22px;
    text-align: center;
    padding-left: 5px;
    margin-bottom: 0;
}

.btn-light {
    color: $colorSecundario;
    border-color: $colorSecundario;
}

.btn {
    border: $borderPrincipal;
    box-shadow: $box-shadowSecundario;
}