.redes {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: fixed;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;

    &__titulo {
        font-family:'Franklin Gothic Medium', 'Arial Narrow';
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: 1px black;
        display: flex;
        justify-content: flex-end;
    }
}



.iconoWsp {
    border-radius: 20px;
    border: solid 2px black;
}

.iconoIg {
    border-radius: 20px;
    border: solid 2px black;
}

.logoKangre2 {
    display: grid;
    justify-items: start;
    margin: 5px;
}

.copyright {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 25px;
}