.redes {
    border-radius: $border-radiusPrincipal;
    display: flex;
    justify-content: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }

    &__sociales {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 20px;
    }
    }

.iconoWsp {
    border-radius: 20px;
    border: $borderPrincipal;
}

.iconoIg {
    border-radius: 20px;
    border: $borderPrincipal;
}

.logoKangre2 {
    display: grid;
    justify-content: center;
    margin: 5px;
}

.copyright {
    text-align: center;
    font-family: $font-familyPrincipal;
    color: $colorSecundario;
    font-size: 25px;
}