.cabecera__header {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.logoKangre {
  display: grid;
  justify-content: center;
  margin: 5px;
}

.tituloPagina {
  font-family: $font-familyPrincipal;
  font-size: 60px;
  color: $colorPrincipal;
  -webkit-text-stroke: $-webkit-text-strokePrincipal;
  text-transform: uppercase;
  margin: 0;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.eslogan {
  font-family: 'Lobster';
  font-size: 40px;
  color: yellow;
  -webkit-text-stroke: 0.8px black;
}

.navegaciones {
  background-image: url(../imagenes/fongopantallakangree.jpg);
  background-repeat: $background-repeatPrincipal;
  background-size: cover;
  background: fixed;
  font-size: 10px;
  border-radius: $border-radiusPrincipal;
  border: $borderPrincipal;
  margin: 5px;
  padding: 5px;
  box-shadow: $box-shadowPrincipal;
  margin-bottom: 15px;

  &__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__paginas {
    font-family: Arial, Helvetica, sans-serif;
    color: $colorSecundario;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;

    &:hover {
    color: $colorPrincipal;
    -webkit-text-stroke: $-webkit-text-strokePrincipal;
    }
  }
}