@media screen and (max-width: 1360px){
    .comentarioKangre__boton {
        align-items:center;
        width: 30%;
        margin-top: 10px;
    }

    .card {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .comentarioKangre__formulario {
    width: 50%;
    height: 50%;
    }
}

@media screen and (max-width: 905px){
    .logoKangre {
        justify-content: center;
    }

    .navegaciones {
        display: block;
        flex-direction: column;
    }

    .navegaciones__menu {
        flex-direction: column;
        text-align: center;
        a::before {
            content: "🍔";
        }
    }

    .card {
        width: 50%;
    }

    .cabecera__textos {
        margin: auto;
    }

    .cardPedidos__Pasos {
        font-weight: $font-weightPrincipal;
    }

    .quienesSomos__parrafo {
        font-weight: $font-weightPrincipal;
    }
    
    .horarios__dias {
        font-weight: $font-weightPrincipal;
    }

    .contactoKangre__mensajeParrafo {
        font-weight: $font-weightPrincipal;
    }
    
    .contacto__numero {
        font-weight: $font-weightPrincipal;
    }

    .menu__ingredientes {
        font-weight: $font-weightPrincipal;
    }
    
    .btn__pedidos {
        font-weight: $font-weightPrincipal;
    }
}

@media screen and (max-width: 770px){
    .comentarioKangre__formulario {
        width: 100%;
    }

    .contactoKangre__mensajeBox {
        width: 100%;
    }
}

@media screen and (max-width: 599px){
.nosotros__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
    "img1"
    "img1"
    "img2"
    "img3"
    ;

    height: auto;
    margin: 10px;
}

.logoKangre {
    justify-items: center;
}

.logoKangre2 {
    justify-items: center;
}

.navegaciones {
    margin-top: 20px;
}

.navegaciones__menu {
    display: block;
    text-align: start;
    padding-left: 0px;
    a::before {
        content: "🍔";
    }
}

.nosotros__fotos--1 {
    margin-bottom: 5px;
}

.nosotros__fotos--2 {
    margin-bottom: 5px;
}

.ubicacion__fotoGps {
    height: 250px;
    width: 250px;
}

.comentarioKangre__titulo {
    font-size: 35px;
}

.contactoKangre__mensajeBox {
    margin-bottom: 15px;
}

.row-card {
    margin-bottom: 10px;
}

.card {
    width: 80%;
    height: 70%;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-item img {
   height: 250px;
}

.menu__vistaMobile {
    display: block;
    text-align: center;
    border-radius: 10px;
}

.menu__menu {
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.menu__accordion {
    background-color: $colorSecundario;
    color: $colorSecundario;
    border-radius: 10px;
    border: $borderPrincipal;
    box-shadow: $box-shadowSecundario;
    &:hover {
        background-color: $colorSecundario;
        color: $colorSecundario;
        border-radius: 10px;
        border-color: $colorSecundario;
        box-shadow: $box-shadowSecundario;
        }
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.comentarioKangre__tituloNombre {
    font-size: 30px;
}

.comentarioKangre__tituloMensaje {
    font-size: 30px;
}

.comentarioKangre__nombre {
    width: 60%;
    height: 30px;
}

.contacto__titulo {
    font-size: 35px;
}

.comentarioKangre__boton {
    align-items:center;
    width: 32%;
    margin-top: 10px;
}

.pedidos_btn {
    padding: 10px;
}

.pedidos__pasos {
    padding-left: 1rem;
}

.pedidos__pasos {
    font-size: 15px;
    padding-right: 0;
}

.iconoWsp {
    margin-bottom: 5px;
}

.copyright {
    font-size: 15px;
}
}

@media screen and (max-width: 577px) {
.comentarioKangre__box {
    margin: 0;
  }
  .contactoKangre__mensajeParrafo {
    padding: 10px;
  }
}

@media screen and (max-width: 500px){
    .comentarioKangre__boton {
        width: 90px;
        text-align: center;
    }
}

@media screen and (max-width: 370px){
    .comentarioKangre__titulo {
        font-size: 30px;
    }
}

@media screen and (max-width: 345px){
    .comentarioKangre__boton {
        width: 85px;
        text-align: center;
    }
}