/* T谩blet */
@media screen and (max-width: 1360px){

    .comentario__comentario {
        display: flex;
        position: relative;
        margin: 5px;
    }

    .comentarioKangre__titulo {
        display: flex;
        position: relative;
        margin: 5px;
    }

    .comentarioKangre__boton {
        align-items:center;
        width: 30%;
        margin-top: 10px;
    }

    .card {
        width: 40%;
    }

    .comentarioKangre__formulario {
        width: 30%;
        height: 30%;
    }
}

/* T谩blet */
@media screen and (max-width: 1000px) {
    .comentarioKangre__formulario {
    width: 40%;
    height: 40%;
}
}

/* T谩blet */
@media screen and (max-width: 905px){
    .logoKangre {
        justify-content: center;
    }

    .navegaciones {
        display: block;
        flex-direction:column;
    }

    .navegaciones__menu {
        flex-direction: column;
        text-align: center;
        a::before {
            content: "";
        }
    }

    .comentario__comentario {
        display: flex;
        position: relative;
    }

    .card {
        width: 50%;
    }

    .cabecera__textos {
        margin: auto;
    }
}

/* T谩blet */
@media screen and (max-width: 700px){
    .comentarioKangre__formulario {
        width: 60%;
        height: 60%;
    }
}

/* M贸vil */
@media screen and (max-width: 599px){

.nosotros__galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
    "img1"
    "img1"
    "img2"
    "img3"
    ;

    height: auto;
    margin: 10px;
}

.logoKangre {
    justify-items: center;
}

.logoKangre2 {
    justify-items: center;
}

.navegaciones {
    margin-top: 20px;
}

.navegaciones__menu {
    display: block;
    text-align: start;
    padding-left: 0px;
    a::before {
        content: "";
    }
}

.tituloTeEsperamos {
    align-items:center;
    font-size: 28px;
}

.nosotros__fotos--1 {
    margin-bottom: 5px;
}

.nosotros__fotos--2 {
    margin-bottom: 5px;
}

.ubicacion__fotoGps {
    height: 250px;
    width: 250px;
}

.comentarioKangre__titulo {
    font-size: 35px;
}

.comentario__comentario {
    display: flex;
    position: relative;
}

.row-card {
    margin-bottom: 10px;
}

.card {
    width: 80%;
    height: 70%;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-item img {
   height: 250px;
}

.video__titulo {
    font-size: 35px;
}

.menu__vistaMobile {
    display: block;
    text-align: center;
}

.comentarioKangre__formulario {
    width: 60%;
    height: 60%;
}

.contacto__titulo {
    font-size: 35px;
}

.comentarioKangre__boton {
    align-items:center;
    width: 32%;
    margin-top: 10px;
}

.iconoWsp {
    margin-bottom: 5px;
}

.copyright {
    font-size: 15px;
}
}

/* M贸vil */
@media screen and (max-width: 500px){
    .comentarioKangre__boton {
        width: 90px;
        text-align: center;
    }
}

/* M贸vil */
@media screen and (max-width: 370px){
    .comentarioKangre__titulo {
        font-size: 30px;
    }
}

/* M贸vil */
@media screen and (max-width: 345px){
    .comentarioKangre__boton {
        width: 85px;
        text-align: center;
    }
}