.menu {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: 1px black;
        transition: padding 2seg;

        &__titulo:hover {
            transform: scale(1.2);
        }
    }

    &__vistaMobile {
        display: none;
    }
    
    &__comidas {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 35px;
        -webkit-text-stroke: 1px black;
    }
    
    &__ingredientes {
        font-family: $font-familyPrincipal;
        font-size: 23px;
        color: $colorSecundario;
        margin-bottom: 5px;
    }

    &__carrusel {
        padding: 15px;
    }
    
    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}

/* .menu__fotos {
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    margin-bottom: 15px;
    transition: padding 1s;
}

.menu__fotos:hover {
    padding: 5px;
} */

.carousel {
    margin: 0 auto;
    width: 70%;
    height: 600px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: $box-shadowPrincipal;
}

.carousel h5 {
    font-family: $font-familyPrincipal;
    color: $colorPrincipal;
    font-size: 35px;
    -webkit-text-stroke: 1px black;
}

.carousel p {
    font-family: $font-familyPrincipal;
    font-size: 23px;
    -webkit-text-stroke: 1px black;
    color: white;
}

.carousel-item img {
    width: 50%;
    height: 595px;
    border-radius: 10px;
    object-fit: cover;
}