.menu {
    text-align: center;

    &__titulo {
        font-size: 45px;
        @include textoBase ($font-familyPrincipal, $colorPrincipal, $-webkit-text-strokePrincipal)
    }

    &__vistaMobile {
        display: none;
    }
    
    &__comidas {
        font-size: 35px;
        @include textoBase ($font-familyPrincipal, $colorPrincipal, $-webkit-text-strokePrincipal)
    }
    
    &__ingredientes {
        font-family: $font-familyPrincipal;
        color: $colorSecundario;
        font-size: 23px;
        margin-bottom: 5px;
    }

    &__carrusel {
        padding: 15px;
    }
    
    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}

.carousel {
    margin: 0 auto;
    width: 70%;
    height: 600px;
    border: $borderPrincipal;
    border-radius: $border-radiusPrincipal;
    box-shadow: $box-shadowPrincipal;
}

.carousel h5 {
    font-size: 35px;
    @include textoBase ($font-familyPrincipal, $colorPrincipal, $-webkit-text-strokePrincipal)
}

.carousel p {
    font-family: $font-familyPrincipal;
    color: white;
    -webkit-text-stroke: $-webkit-text-strokePrincipal;
    font-size: 23px;
}

.carousel-item img {
    width: 50%;
    height: 595px;
    border-radius: $border-radiusPrincipal;
    object-fit: cover;
}

.menu__accordion {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}