.nosotros {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;

    &__titulo {
        text-align: center;
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
        transition: padding 2seg;

        &:hover {
            transform: scale(1.2);
        }
    }
    
    &__galeria {
        display: grid;
        padding: 5px;
        height: 500px;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, 50%);
        grid-template-areas:
        "img1 img2"
        "img1 img3";
        column-gap: 5px;
        border: $borderPrincipal;
        border-radius: $border-radiusPrincipal;
        box-shadow: $box-shadowPrincipal;
    }
    
    &__fotos {
        text-align: center;
        border: $borderPrincipal;
        border-radius: 10px;
    }
    
    &__fotos--1 {
        grid-area: img1;
    }
    
    &__fotos--2 {
        grid-area: img2;
        margin-bottom: 5px;
    }
    
    &__fotos--3 {
        grid-area: img3;
    }
    
    &__imagenes {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radiusPrincipal;
    }
}