.pedidos {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
        margin-bottom: 15px;
    }
    
    &__pedidosYa {
        font-family: $font-familyPrincipal;
        font-size: 30px;
        color: $colorSecundario;
        margin-bottom: 5px;
    }
    
    &__icono {
        border-radius: 20px;
        border: $borderPrincipal;
        margin-bottom: 10px;
    }
    
    &__imgFondoDePantalla {
        background-repeat: $background-repeatPrincipal;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}

.btn__pedidos {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-repeat: $background-repeatPrincipal;
    background-position: center;
    background-size: cover;
    color: $colorSecundario;
    font-family: $font-familyPrincipal;
    box-shadow: $box-shadowPrincipal;
    font-size: 22px;
     
    &:hover {
    color: $colorSecundario;
    background-color: $colorSecundario;
    border-color: $colorSecundario;
    }
}

.btn:focus {
    box-shadow: $box-shadowPrincipal;
}


.card_pedidos {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-repeat: $background-repeatPrincipal;
    background-position: center;
    background-size: cover;
    font-family: $font-familyPrincipal;
    color: $colorSecundario;
    padding: 5px;
}

.pedidos__pasos {
    text-align: start;
    margin: 5px;
    padding-left: 1rem;
}