.pedidos {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
        margin-bottom: 15px;
        transition: padding 2seg;

        &__titulo:hover {
            transform: scale(1.2);
        }
    }
    
    &__pedidosYa {
        font-family: $font-familyPrincipal;
        font-size: 30px;
        color: $colorSecundario;
        margin-bottom: 5px;
    }
    
    &__icono {
        border-radius: 20px;
        border: $borderPrincipal;
        margin-bottom: 10px;
    }
    
    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}