.pedidos {
    text-align: center;
}

.pedidos__titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: red;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 15px;
    transition: padding 2seg;
}

.pedidos__titulo:hover {
    transform: scale(1.2);
}

.pedidos__pedidosYa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
}

.pedidos__icono {
    border-radius: 20px;
    border: solid 2px black;
    margin-bottom: 10px;
}

.pedidos__imgFondoDePantalla {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}