.quienesSomos {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: 1px black;
        margin-bottom: 15px;
        transition: padding 2seg;

        &:hover {
            transform: scale(1.2);
        }
    }
    
    &__parrafo {
        font-family: $font-familyPrincipal;
        font-size: 22px;
        color: black;
        margin-bottom: 15px;
    }

    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
}

.card {
    margin: 0 auto;
    width: 25%;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.card-img-top {
    border-bottom: 2px solid black;
    height: 300px;
}

.card-text {
    font-family: $font-familyPrincipal;
}

p:nth-child(odd){
    color: black;
}

span:nth-child(odd){
    color: $colorPrincipal;
    -webkit-text-stroke: 0.5px black;
}