.quienesSomos {
    text-align: center;
}

.quienesSomos__titulo {
    @extend .quienesSomos;
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        margin-bottom: 15px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
}

.quienesSomos__parrafo {
    @extend .quienesSomos;
    font-family: $font-familyPrincipal;
    color: $colorSecundario;
    font-size: 22px;
    margin-bottom: 15px;
}

.quienesSomos__imgFondoDePantalla {
    background-repeat: $background-repeatPrincipal;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.card__quienesSomos {
    background-image: url(../imagenes/fongopantallakangree.jpg);
    background-attachment: fixed;
    background-repeat: $background-repeatPrincipal;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    padding-bottom: 0;
}

.card {
    margin: 0 auto;
    width: 25%;
    border: $borderPrincipal;
    border-radius: 5px;
    box-shadow: $box-shadowPrincipal;
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.card-img-top {
    border-bottom: 2px solid black;
    height: 300px;
}

.card-text {
    font-family: $font-familyPrincipal;
}

p:nth-child(odd){
    color: $colorSecundario;
}

span:nth-child(odd){
    color: $colorPrincipal;
    -webkit-text-stroke: 0.5px black;
}