.ubicacion {
    text-align: center;

    &__titulo {
        font-family:'Franklin Gothic Medium', 'Arial Narrow';
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: 1px black;
        margin-bottom: 10px;
        transition: padding 2seg;

        &:hover {
            transform: scale(1.2);
        }    
    }
   
    &__direccion {
        font-family:'Franklin Gothic Medium', 'Arial Narrow';
        font-size: 23px;
        color: black;
        margin-bottom: 10px;
    }
    
    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
    
    &__fotoGps {
        border: solid 2px black;
        border-radius: 10px;
        box-shadow: 4px 4px 10px black;
        margin-bottom: 20px;
        object-fit: cover;
    }
}