.ubicacion {
    text-align: center;

    &__titulo {
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        font-size: 45px;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
        margin-bottom: 10px; 
    }
   
    &__direccion {
        font-family: $font-familyPrincipal;
        font-size: 23px;
        color: $colorSecundario;
        margin-bottom: 10px;
    }
    
    &__imgFondoDePantalla {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
    
    &__fotoGps {
        border: $borderPrincipal;
        border-radius: $border-radiusPrincipal;
        box-shadow: $box-shadowPrincipal;
        margin-bottom: 20px;
        object-fit: cover;
    }
}