$colorPrincipal: red;
$colorSecundario: black;
$font-familyPrincipal: 'Franklin Gothic Medium', 'Arial Narrow';
$box-shadowPrincipal: 4px 4px 10px black;
$box-shadowSecundario: 2px 2px 4px black;
$-webkit-text-strokePrincipal: 1px black;
$borderPrincipal: solid 2px black;
$border-radiusPrincipal: 10px;
$background-repeatPrincipal: no-repeat;
$font-weightPrincipal: bold;

$imgFondoDePantalla: (
        repticion: no-repeat,
        ancho: 100%,
        alto: 100%,
        top: 0,
        left: 0,
        z-index: -1,
        posicion: fixed,
);

@mixin textoBase ($font-familyPrincipal, $colorPrincipal, $-webkit-text-strokePrincipal){
        font-family: $font-familyPrincipal;
        color: $colorPrincipal;
        -webkit-text-stroke: $-webkit-text-strokePrincipal;
}