.video__fondo {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__videoKangre {
    width: 80%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    border: solid 2px black;
    background-position: center;
    box-shadow: $box-shadowPrincipal;
}

.video__titulo {
    font-family: $font-familyPrincipal;
    color: $colorPrincipal;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    margin: 5px;
    padding: 5px;
    box-shadow: $box-shadowPrincipal;
    border-radius: 10px;
    display: grid;
    align-items: center;
}